body {
    background-color: black;
}

.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background: black;
  }
  
  .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background: black;
  }
  
  .container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background: black;
  }
  
  .container4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background: black;
  }
  
  .container5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background: black;
  }
  
  .container6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background: black;
  }
  
  .container7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background: black;
  }
  
  .container8 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background: black;
  }
  
  .box-one {
    width: 100%;
    height: 50px;
    background-color: black;
  }
  
  .box-two {
    width: 100%;
    height: 50px;
    background-color: rgb(170, 0, 255);
  }
  
  .box-three {
    width: 100%;
    height: 50px;
    background-color: black;
  }
  
  .box-four {
    width: 100%;
    height: 50px;
    background-color: rgb(170, 0, 255);
    column-gap: 15px;
  }
  
  .box-five {
    width: 100%;
    height: 50px;
    background-color: rgb(193, 70, 255);
  }
  
  .box-six {
    width: 100%;
    height: 50px;
    background-color: black;
  }
  
  .box-seven {
    width: 100%;
    height: 50px;
    background-color: black;
  }
  
  .box-eight {
    width: 100%;
    height: 50px;
    background-color: rgb(222, 155, 255);
  }
  .box-nine {
    width: 100%;
    height: 50px;
    background-color: black;
  }
  
  .box-ten {
    width: 100%;
    height: 50px;
    background-color: black;
  }
  
  .box-eleven {
    width: 100%;
    height: 50px;
    background-color: rgb(222, 155, 255);
  }
  
  .box-twelve {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 155, 240);
  }
  
  .box-thirteen {
    width: 100%;
    height: 50px;
    background-color: black;
  }
  
  .box-fourteen {
    width: 100%;
    height: 50px;
    background-color: black;
  }
  
  .box-fifteen {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 200, 247);
  }
  
  .box-sixteen {
    width: 100%;
    height: 50px;
    background-color: black;
  }
  
  .box-seventeen {
    width: 100%;
    height: 50px;
    background-color: black;
  }
  
  .box-eighteen {
    width: 100%;
    height: 50px;
    background-color: black;
  }
  
  .container4 .box-three {
    background-color: rgb(170, 0, 255);
  }
  
  .container8 .box-seven {
    background-color: rgb(193, 70, 255);
  }
  
  .container8 .box-six {
    background-color: rgb(193, 70, 255);
  }
  
  .container1 .box-nine{
    background-color: rgb(222, 155, 255);
  }
  
  .container1 .box-ten{
    background-color: rgb(222, 155, 255);
  }
  
  .container8 .box-nine{
    background-color: rgb(222, 155, 255);
  }
  
  .container8 .box-ten{
    background-color: rgb(222, 155, 255);
  }
  
  .container2 .box-ten {
    background-color: black;
  }
  
  .container1 .box-eight {
   background-color: black; 
  }
  
  .container8 .box-eight {
   background-color: black; 
  }
  
  .container3 .box-ten {
    background-color: black;
  }
  
  .container1 .box-eleven {
    background-color: black;
  }
  
  .container8 .box-eleven {
    background-color: black;
  }
  
  .container5 .box-ten {
    background-color: black;
  }
  
  .container6 .box-ten {
    background-color: black;
  }
  
  .container7 .box-ten {
    background-color: black;
  }
  
  .container5 .box-nine {
    background-color: black;
  }
  
  .container6 .box-nine {
    background-color: black;
  }
  
  .container7 .box-nine {
    background-color: black;
  }
  
  .container1 .box-three {
    background-color: rgb(170, 0, 255);
  }
  
  .container1 .box-four {
    background-color: black;
  }
  
  .container4 .box-four {
    background-color: black;
  }
  
  .container8 .box-three {
    background-color: rgb(170, 0, 255);
  }
  
  .container8 .box-four {
    background-color: black;
  }
  
  .container1 .box-thirteen{
    background-color: rgb(255, 155, 240);
  }
  
  .container2 .box-fourteen{
    background-color: rgb(255, 155, 240);
  }
  
  .container8 .box-thirteen{
    background-color: rgb(255, 155, 240);
  }
  
  .container7 .box-fourteen{
    background-color: rgb(255, 155, 240);
  }
  
  .container4 .box-sixteen{
    background-color: rgb(255, 200, 247);
  }
  
  .container3 .box-seventeen{
    background-color: rgb(255, 200, 247);
  }
  
  .container2 .box-seventeen{
    background-color: rgb(255, 200, 247);
  }
  
  .container1 .box-seventeen{
    background-color: rgb(255, 200, 247);
  }
  
  .container5 .box-seventeen{
    background-color: rgb(255, 200, 247);
  }
  
  .container6 .box-seventeen{
    background-color: rgb(255, 200, 247);
  }
  
  .container7 .box-seventeen{
    background-color: rgb(255, 200, 247);
  }
  
  .container8 .box-seventeen{
    background-color: rgb(255, 200, 247);
  }
  
  .container1 .box-twelve{
    background-color: black;
  }
  
  .container8 .box-twelve{
    background-color: black;
  }