body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
  }

.oceanback {
    background-color: lightblue;
    width: 100vw;
    height: 100vh;
}

.ocean {
    background: rgb(3,1,36);
    background: linear-gradient(0deg, rgba(3,1,36,1) 0%, rgba(9,0,124,1) 23%, rgba(125,206,222,1) 100%);
    width: 100vw;
    height: 100vh;
    position: relative;
}

.seafloor {
    background: rgb(147,109,68);
    background: linear-gradient(0deg, rgba(147,109,68,1) 0%, rgba(222,176,125,1) 100%);
    width: 100vw;
    height: 10vh;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.clamback1 {
    /* shape obtained from css-shape.com */
    width: 12vw;
    aspect-ratio: 1;
    --g:/14.796% 14.796% radial-gradient(#000 calc(71% - 1px),#0000 71%) no-repeat;
    mask: 100% 50% var(--g),96.985% 67.101% var(--g),88.302% 82.139% var(--g),75% 93.301% var(--g),58.682% 99.24% var(--g),41.318% 99.24% var(--g),25% 93.301% var(--g),11.698% 82.139% var(--g),3.015% 67.101% var(--g),0% 50% var(--g),3.015% 32.899% var(--g),11.698% 17.861% var(--g),25% 6.699% var(--g),41.318% 0.76% var(--g),58.682% 0.76% var(--g),75% 6.699% var(--g),88.302% 17.861% var(--g),96.985% 32.899% var(--g),radial-gradient(100% 100%,#000 41.955%,#0000 calc(41.955% + 1px));
    Position: absolute;
    bottom: 12vw;
    right: 10vw;
    background: rgb(150,150,150);
    background: linear-gradient(0deg, rgba(150,150,150,1) 0%, rgba(99,99,99,1) 100%);
    z-index: 2;
  }

  .clamback2 {
    background: rgb(150,150,150);
    background: linear-gradient(0deg, rgba(150,150,150,1) 0%, #7d7d7d 100%);
    width: 12vw;
    height: 6vw;
    position: absolute;
    bottom: 12vw;
    border-bottom-left-radius: 300vw;
    border-bottom-right-radius: 300vw;
    right: 10vw;
    z-index: 3;
  }

  .clambottom {
    background: rgb(150,150,150);
    background: linear-gradient(180deg, rgba(150,150,150,1) 0%, rgb(63, 63, 63) 100%);
    width: 12vw;
    height: 12vw;
    position: absolute;
    bottom: 2vw;
    border-radius: 100%;
    z-index: 1;
    right: 10vw;
    filter: drop-shadow(1vw 1vw 1vw #19191993);
  }

  .container {
    background-color: rgba(255, 255, 255, 0.579);
    filter: drop-shadow(1vw 1vw 1vw #19191993);
    width: 40vw;
    height: 27vw;
    position: absolute;
    left: 8vw;
    top: 8vw;
    border-radius: 1vw;
  }

  h1 {
    margin-left: 2vw;
    margin-top: 5vw;
    font-size: 6.3vw;
    font-family: "Macondo Swash Caps", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1vw;
    color: rgba(9,0,124,1)
  }

p {
    margin-left: 2.25vw;
    margin-right: 2vw;
    margin-top: 1.7vw;
    font-size: 2.3vw;
    font-family: "Ubuntu Mono", serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(9,0,124,1)
  }

  h2 {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2.5vw;
    font-size: 2vw;
    font-family: "Macondo Swash Caps", serif;
    font-weight: 400;
    font-style: normal;
    justify-items: center;
    line-height: 3vw;
  }

  .button {
    width: 15vw;
    height: 3vw;
    border-radius: 1vw;
    background-color: pink;
    align-items: center;
    background:#ffaae0;
    filter: drop-shadow(.3vw .3vw .3vw #19191993);
  }

  .button:hover {
    background-color: white;
    color: rgba(9,0,124,1)
  }

  a {
    text-decoration: none;
    color: white;
  }

  .pearl {
    /* shape obtained from css-shape.com */
    z-index: 1;
    right: 13vw;
    width: 6vw;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    bottom: 11vw;
    background: 
      radial-gradient(circle at 40% 30%,#0000 4%,57%,#000 90%) 
      #ffaae0;
    filter: drop-shadow(1vw 1vw 1vw #19191993);
    z-index: 4;
  }