:root{
  --color-animation: #8B102A;
  --color-documentary: #A53A5D;
  --color-gameshow: #BB5E3A;
  --color-reality: #8A8AD0;
  --color-scripted: #0A287E;
  --color-sports: #D19096;
  --color-talkshow: #89CBCA;
  --color-variety: #489EE3;
}

.animation {background-color: var(--color-animation); }
.documentary {background-color: var(--color-documentary); }
.gameshow {background-color: var(--color-gameshow); }
.reality {background-color: var(--color-reality); }
.scripted {background-color: var(--color-scripted); }
.sports {background-color: var(--color-sports); }
.talkshow {background-color: var(--color-talkshow); }
.variety{background-color: var(--color-variety); }

svg text {
  font-family: "Aldrich", sans-serif;
  fill: #ffffff;
}

body {
	font-family: "Aldrich", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: black;
	color: white;
	margin-inline: 80px;
}

h1 {
	padding-block-start: 20px;
	font-size: 28px;
	/* max-width: 39ch; */
}

h2 {
	font-size: 18px;
}

section {
	display: flex;
	flex-direction: row;
	justify-content: start;
	flex-wrap: wrap;
	width: 100%;
	/* background-color: pink; */
	column-gap: 61.75px;
	padding-bottom: 20px;
}

p {
	height: 30px;
	width: 140px;
	text-align: center;
	line-height: 32px;
	font-size: 18px;
}

@media (max-width: 1087px) {
  section {
	width: 100%;
	margin-inline: 0px;
  }

}