@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
  font-size: 110%;
  --padding: 1rem;
  --header-offset: 11.5rem;
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  font-weight: 900;
  color: black;
  font-size: 1.75rem;
   margin-block-end: calc(2 * var(--padding));
}

h2 {
  font-weight: 900;
  font-size: 1.75rem;
  margin-block-end: var(--padding);
  /* background-color: green; */
  margin-inline-end: calc(6 * var(--padding));
  line-height: 1.65rem;
}



body {
  padding-block-end: var(--padding);
  padding-block-start: 0;
  margin-block-start: 0;
  background: #d4ccff;
background: linear-gradient(329deg,rgba(212, 204, 255, 1) 0%, rgba(245, 231, 255, 1) 49%, rgba(230, 250, 255, 1) 100%);
  font-family: "SUSE Mono", sans-serif;
  margin-inline: 0;
  font-weight: 200;
}

.main {
  background: #d4ccff;
background: linear-gradient(329deg,rgba(212, 204, 255, 1) 0%, rgba(245, 231, 255, 1) 49%, rgba(230, 250, 255, 1) 100%);
  position: fixed;
  z-index: 10;
  width: 100%;
  padding-block: calc(2 * var(--padding));
  border-block-end: solid 0.25rem black;
}



.day {
  padding: var(--padding);
  text-align: center;
  font-weight: 300;
  font-size: 1.75rem;
  border: solid 0.25rem black;
  margin-block-end: calc(2* var(--padding));
  margin-inline: var(--padding);
  border-radius: 3rem;
  background: #d4ccff;
background: linear-gradient(329deg,rgba(212, 204, 255, 1) 0%, rgba(245, 231, 255, 1) 49%, rgba(230, 250, 255, 1) 100%);
}

.activity {
  padding-block: var(--padding);
  padding-inline: calc(2*var(--padding));
  position: relative;
  margin-block: var(--padding);
  margin-inline: var(--padding);
  margin-block-end: calc(2 * var(--padding));
  border-radius: 1.25rem;
  border: solid 0.25rem black;
}

footer {
  font-family: aldrich;
  position: fixed;
  inset-block-end: 0rem;
  font-size: 0.75rem;
  background: #d4ccff;
background: linear-gradient(329deg,rgba(212, 204, 255, 1) 0%, rgba(245, 231, 255, 1) 49%, rgba(230, 250, 255, 1) 100%);
  width: 100%;
  padding: var(--padding);
  height: calc(3*var(--padding));
  border-block-start: solid 0.25rem black;
}

.buttons {
  display: flex;
  gap: var(--padding);
  font-weight: 900;
  margin-block-start: var(--padding);
}

.linkbutton {
  padding: calc(var(--padding) / 2);
  padding-inline: var(--padding);
  border-radius: 1rem;
  font-size: 0.75rem;
  border: solid 0.25rem black;
  transition: 300ms ease-in-out;
}

.linkbutton:hover {
   background: #d4ccff;
background: linear-gradient(329deg,rgba(212, 204, 255, 1) 0%, rgba(245, 231, 255, 1) 49%, rgba(230, 250, 255, 1) 100%);
  font-size: 1rem;
  transition: 300ms ease-in-out;
}

.headerlinks a:hover {
   background: #d4ccff;
background: linear-gradient(329deg,rgba(212, 204, 255, 1) 0%, rgba(245, 231, 255, 1) 49%, rgba(230, 250, 255, 1) 100%);
  font-size: 1rem;
  border: solid 0.25rem black;
  transition: 300ms ease-in-out;
}

#blogs {
  padding-block-start: calc(12 * var(--padding));
}

#publications {
  padding-block-end: calc(2 * var(--padding));
}

span {
  font-size: 1rem;
}

.buttons a {
  text-decoration: none;
  color: black;
}

footer a {
  color: black;
}

.headerlinks a{
  color: black;
  font-weight: 900;
  border-block-end: solid 0.25rem black;
  margin-inline: calc(var(--padding) / 2);
  border-radius: 0.2rem;
  transition: 300ms ease-in-out;
}

.headerlinks {
  text-align: center;
  font-size: 1rem;
  transition: 300ms ease-in-out;
}

article[id] {
  scroll-margin-top: var(--header-offset);
}

@media (max-width: 700px) {
html {
  font-size: 90%;
}
}


@media (max-width: 500px) {
html {
  font-size: 80%;
}
}


@media (max-width: 470px) {
html {
  font-size: 60%;
}

.headerlinks a{
  padding-inline: calc(var(--padding) / 8);
}
}


@media (max-width: 337px) {
html {
  font-size: 30%;
}
}