body{
    background:#efefef;
    margin: 0px;
  }
  h1{
    margin:35px;
    top:50px;
    font-size: 6vh;
    color: white;
    position:absolute;
    font-family: "Prata", serif;
    line-height: 97%;
    transition:700ms;
  }
  
  .rectangle:hover h1{
    letter-spacing:.7vh;
    transition:700ms;
    top:17px;
  }
  

  .rectangle{
    background:rgb(213, 104, 200);
    border-radius:0%;
    position:absolute;
    margin: 10px auto;
    padding:0px;
    height:calc(100vh - 70px - 50px);
    width:60vh;
    bottom: 70px;
    transition:700ms;
    
  }
  
  .container{
    background:white;
    position:relative;
    
    margin: 10px auto; /* 10px on the top and bottom, "auto" to center it on either side */
    padding:20px;
    
    height:calc(100vh - 40px - 20px); /* 100% of the viewport height, minus 2x padding, minus 2x the margin. */
    width:60vh; /* This is in "vh" units because we always want it to be relative to the height. In this case, it's a 3:5 ratio (60:100) */
  }
  
  .circle{
    width: 40vh;
    height: 40vh;
    background:rgb(138, 206, 194);
    border-radius:50%;
    position:absolute;
    bottom:0px;
    right:0px;
    transition:700ms;
  }
  
  .rectangle:hover .circle{
    right: 272px;
    background:rgb(102, 0, 170);
    transition:700ms;
    width: 30vh;
    height: 30vh;
}


  p{
    display: inline;
    font-size: 2vh;
  }
  
  .text1{
    position:absolute;
    margin:12px auto;
    bottom: 18px;
    left: 28px;
    font-weight: 600;
    color:rgb(110, 82, 201);
    font-family: "Zilla Slab", serif;
  }
  
  .text2{
    color:rgb(110, 82, 201);
    position:absolute;
    margin:12px auto;
    bottom: 18px;
    font-weight: 600;
    right: 28px;
    font-family: "Zilla Slab", serif;
  }
  
  .starburst {
    position:absolute;
    bottom:160px;
    left:10px;
    transition:700ms;
    background:white;
    width: 40vh; /* adjust to control the size */
    aspect-ratio: 1;
    clip-path: polygon(100% 50%,54.99% 50.31%,99.61% 56.27%,54.91% 50.94%,98.43% 62.43%,54.76% 51.55%,96.49% 68.41%,54.52% 52.13%,93.82% 74.09%,54.22% 52.68%,90.45% 79.39%,53.85% 53.19%,86.45% 84.23%,53.42% 53.64%,81.87% 88.53%,52.94% 54.05%,76.79% 92.22%,52.41% 54.38%,71.29% 95.24%,51.84% 54.65%,65.45% 97.55%,51.24% 54.84%,59.37% 99.11%,50.63% 54.96%,53.14% 99.9%,50% 55%,46.86% 99.9%,49.37% 54.96%,40.63% 99.11%,48.76% 54.84%,34.55% 97.55%,48.16% 54.65%,28.71% 95.24%,47.59% 54.38%,23.21% 92.22%,47.06% 54.05%,18.13% 88.53%,46.58% 53.64%,13.55% 84.23%,46.15% 53.19%,9.55% 79.39%,45.78% 52.68%,6.18% 74.09%,45.48% 52.13%,3.51% 68.41%,45.24% 51.55%,1.57% 62.43%,45.09% 50.94%,0.39% 56.27%,45.01% 50.31%,0% 50%,45.01% 49.69%,0.39% 43.73%,45.09% 49.06%,1.57% 37.57%,45.24% 48.45%,3.51% 31.59%,45.48% 47.87%,6.18% 25.91%,45.78% 47.32%,9.55% 20.61%,46.15% 46.81%,13.55% 15.77%,46.58% 46.36%,18.13% 11.47%,47.06% 45.95%,23.21% 7.78%,47.59% 45.62%,28.71% 4.76%,48.16% 45.35%,34.55% 2.45%,48.76% 45.16%,40.63% 0.89%,49.37% 45.04%,46.86% 0.1%,50% 45%,53.14% 0.1%,50.63% 45.04%,59.37% 0.89%,51.24% 45.16%,65.45% 2.45%,51.84% 45.35%,71.29% 4.76%,52.41% 45.62%,76.79% 7.78%,52.94% 45.95%,81.87% 11.47%,53.42% 46.36%,86.45% 15.77%,53.85% 46.81%,90.45% 20.61%,54.22% 47.32%,93.82% 25.91%,54.52% 47.87%,96.49% 31.59%,54.76% 48.45%,98.43% 37.57%,54.91% 49.06%,99.61% 43.73%,54.99% 49.69%);
  }

  .rectangle:hover .starburst{
    background-color: rgb(190, 60, 175);
    width: 60vh;
    transition:700ms;
    bottom: 10vh;
  }

  .rectangle:hover{
    border-radius: 45px;
    transition:700ms;
  }


  