.zig-zag-line {
    --a: 144deg; /* control the angle */
    --s: 75px; /* size of the zig-zag */
    --b: 15px;  /* control the thickness */
    
    
    background: lightblue;
    height: calc(var(--b) + var(--s)/(2*tan(var(--a)/2)));
    width: 100%;
    --_g:var(--s) repeat-x conic-gradient(from calc(var(--a)/-2) at bottom,
      #0000,#000 1deg calc(var(--a) - 1deg),#0000 var(--a));
    mask: 50% calc(-1*var(--b))/var(--_g) exclude,50%/var(--_g);
    transition: 200ms;
  }

  body {
    min-height: 100vh; 
    background: linear-gradient(309deg, rgba(183,119,219,1) 0%, rgba(137,104,205,1) 26%, rgba(137,104,205,1) 51%, rgba(95,31,228,1) 100%);
    margin: 0;
    padding: 0;
  }
  
  h1 {
    padding: 0px;
    margin: 0px;
    font-size: 184.5px;
    position: absolute;
    left: -12px;
    top: 28px;
    color: white;
    font-family: "Aldrich", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    transition: 200ms;
  }
  
  h2 {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    font-size: 52px;
    right: 0px;
    top: -34px;
    color: white;
    font-family: "Aldrich", sans-serif;
    transition: 200ms;
  }

  h1:hover {
    cursor: pointer;
  }

  h2:hover {
    cursor: default;
  }

  .row1 {
    /* background-color: red; */
    height: 200px;
    width: 100%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    transition: 200ms;
  }
  
  .row2 {
    /* background-color: blue; */
    height: 50px;
    width: 100%;
    position: relative;
    transition: 200ms;
    
  }
  
  .spacer {
    width: 100%;
    height: 40px;
    /* background-color: green; */
  }
  
  .spacersmall {
    width: 100%;
    height: 40px;
  /*   background-color: green; */
  }
  
  .row3 {
    /* background-color: blue; */
    height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr .3fr 9fr 1fr;
    transition: 200ms;
  }

  .row33 {
    /*   background-color: blue; */
      height: 600px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 9fr .3fr 5fr 1fr;
      transition: 200ms;
    }
  
  .side {
    width: 100%;
    height: 100%;
  /*   background-color: purple; */
  }
  
  .box3 {
    width: 100%;
    height: 100%;
    margin-top: 65px;
    transition: 200ms;
  /*   background-color: red; */
  /*   margin: 10px; */
  }

  .box33 {
    width: 100%;
    height: 100%;
    margin-top: 65px;
    transition: 200ms;
  /*   background-color: red; */
  /*   margin: 10px; */
  }
  
  .box4 {
    width: 100%;
    height: 100%;
    transition: 200ms;
  /*   background-color: orange; */
  }
  
  h3 {
    font-size: 40px;
    font-family: "Aldrich", sans-serif;
    transition: 200ms;
  }
  
  .box3 ul {
    font-weight: 400;
    font-size: 47px;
    left: -9px;
    position: relative;
    list-style-type: circle;
    line-height: 65px;
    color: white;
    font-family: "Aldrich", sans-serif;
    transition: 200ms;
  }

  .box33 ul {
    font-weight: 400;
    font-size: 30px;
    left: -9px;
    position: relative;
    list-style-type: circle;
    line-height: 40px;
    color: white;
    font-family: "Aldrich", sans-serif;
    transition: 200ms;
  }
  
  .button {
    background-color: white;
    height: 60px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 200ms;
  }
  
  .button:hover {
    background-color: lightblue;
  }
  
  a {
    color: #8968CD;
    text-decoration: none;
    font-family: "Aldrich", sans-serif;
  }

  .button h3 {
    position: relative;
    left: -4px;
    font-size: 47px;
    top: 9px;
    transition: 200ms;
  }

  .coding:hover {
    color: lightblue;
    cursor: none;
  }

  .coding:hover {
    color: lightblue;
    cursor: none;
  }

  .type:hover {
    color: lightblue;
    cursor: none;
  }

  .brand:hover {
    color: lightblue;
    cursor: none;
  }

  .ux:hover {
    color: lightblue;
    cursor: none;
  }

  .licontainer:hover {
    cursor: none;
  }
  
  .box5 {
    width: 100%;
    height: 100%;
    /* background-color: yellow;  */
    display: flex; /* Enable flexbox for alignment */
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
    overflow: hidden; /* Prevent any overflow from the image */
    /* border-radius: 20px; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 200ms;
}

.box5 img {
    height: auto; /* Fill the div vertically */
    width: 100%; /* Adjust width to maintain aspect ratio */
    object-fit: cover; /* Ensure the image fills the container, potentially cropping the sides */
    /* border-radius: 20px; */
    transition: 200ms;
}

.box55 {
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    display: flex; /* Enable flexbox for alignment */
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
    overflow: hidden; /* Prevent any overflow from the image */
    /* border-radius: 20px; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 200ms;
}

.box55 img {
    height: auto; /* Fill the div vertically */
    width: 100%; /* Adjust width to maintain aspect ratio */
    transition: 200ms;
    border-radius: 20px;
    object-fit: cover; /* Ensure the image fills the container, potentially cropping the sides */
}

html, body {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 1320px) {

}
  
  