h1{
    font-size: 6.1vw;
    font-weight: 700;
    margin-top: 11vw;
    font-style: italic;
}

h2{
    font-size: 1.25vw;
    margin-top: 3vw;
}

.nature h2 {
    margin-top: 3vw;
}

body{
    background-color: #15032a;
    /* font-size: 15px; */
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    color:rgba(255, 255, 255, 0.853);
    margin: 0px;
    padding: 0px;
  }

  .photorow {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
    /* background-color: yellow; */
    height: 30vw;
  }

  .headerrow {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
    /* background-color: yellow; */
    height: 30vw;
    background-color: #330666;
  }
  
  .gutter {
    /* background-color: pink; */
    width: 100%;
  }
  
  .human {
    background-color: #330666;
    width: 100%;
    text-align: left;
  }
  
  .nature {
    background-color: #35592b;
    width: 100%;
    text-align: left;
  }
  
  .graphic {
    background-color: #524ca9;
    width: 100%;
    text-align: left;
  }

  .headerrow .human {
    text-align: left;
    background-color: #330666;
  }

  .headerrow .graphic {
    text-align: left;
    background-color: #330666;
  }

  .headerrow .nature {
    text-align: left;
    background-color: #330666;
  }
  
  span {
    opacity: 0;
    font-size: 1.3vw;
    transition: 300ms;
    margin-left: 0.8vw;
  }

  img {
    height: 27vw;
    position: relative;
  }


  .nature:hover span {
    opacity: 1;
    transition: 300ms;
  }

  .graphic:hover span {
    opacity: 1;
    transition: 300ms;
  }

  .human:hover span {
    opacity: 1;
    transition: 300ms;
  }

  .spacer {
    width: 100%;
    height: 0.5vw;
    /* background-color: aquamarine; */
  }

  @media (max-width: 800px) {

    span {
        opacity: 1;
    }


  }

  

  
  