@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

html {
  font-size: 110%;
  --padding: 1rem;
  --header-offset: 20rem;
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  font-weight: 900;
  color: black;
  font-size: 1.75rem;
   margin-block-end: calc(2 * var(--padding));
}

h2 {
  font-weight: 900;
  font-size: 1.75rem;
  margin-block-end: var(--padding);
  /* background-color: green; */
  margin-inline-end: calc(6 * var(--padding));
  line-height: 1.65rem;
}



body {
  padding-block-end: var(--padding);
  padding-block-start: 0;
  margin-block-start: 0;
  background: #e0ebff;
background: linear-gradient(118deg,rgba(224, 235, 255, 1) 0%, rgba(250, 210, 250, 1) 54%, rgba(220, 189, 255, 1) 100%);
  font-family: "SUSE Mono", sans-serif;
  margin-inline: 0;
  font-weight: 200;
}

.main {
  background: #e0ebff;
  background: linear-gradient(118deg,rgba(224, 235, 255, 1) 0%, rgba(250, 210, 250, 1) 54%, rgba(220, 189, 255, 1) 100%);
  position: sticky;
  z-index: 13;
  width: 100%;
  padding-block-end: calc(2 * var(--padding));
  padding-block-start: calc(1 * var(--padding));
  border-block-end: solid 0.25rem black;
  inset-block-start: -32.5rem;
}

header img {
  width: 36rem;
}

.fleximg {
  display: flex;
  justify-content: center;
  padding-block-end: calc(2 * var(--padding));
}

.day {
  position: sticky;
  inset-block-start: 7rem;
  z-index: 10;
  padding: var(--padding);
  text-align: center;
  font-weight: 700;
  font-size: 1.75rem;
  border: solid 0.25rem black;
  margin-block-end: calc(2* var(--padding));
  margin-inline: var(--padding);
  border-radius: 1.4rem;
   background: #e0ebff;
background: linear-gradient(118deg,rgba(224, 235, 255, 1) 0%, rgba(250, 210, 250, 1) 54%, rgba(220, 189, 255, 1) 100%);
}

.activity {
  padding-block: var(--padding);
  padding-inline: calc(2*var(--padding));
  position: relative;
  margin-block: var(--padding);
  margin-inline: var(--padding);
  margin-block-end: calc(2 * var(--padding));
  border-radius: 1.25rem;
  border: solid 0.25rem black;
}

footer {
  font-family: aldrich, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: fixed;
  inset-block-end: 0rem;
  font-size: 0.75rem;
  background: #e0ebff;
  background: linear-gradient(118deg,rgba(224, 235, 255, 1) 0%, rgba(250, 210, 250, 1) 54%, rgba(220, 189, 255, 1) 100%);
  width: 100%;
  padding: var(--padding);
  height: calc(3*var(--padding));
  border-block-start: solid 0.25rem black;
}

.buttons {
  display: flex;
  gap: var(--padding);
  font-weight: 900;
  margin-block-start: var(--padding);
}

.linkbutton {
  padding: calc(var(--padding) / 2);
  padding-inline: var(--padding);
  border-radius: 1rem;
  font-size: 0.75rem;
  border: solid 0.25rem black;
  transition: 300ms ease-in-out;
}

.linkbutton:hover {
   background: #e0ebff;
   background: linear-gradient(118deg,rgba(224, 235, 255, 1) 0%, rgba(250, 210, 250, 1) 54%, rgba(220, 189, 255, 1) 100%);
  font-size: 1rem;
  transition: 300ms ease-in-out;
}

.headerlinks a:hover {
   background: #e0ebff;
   background: linear-gradient(118deg,rgba(224, 235, 255, 1) 0%, rgba(250, 210, 250, 1) 54%, rgba(220, 189, 255, 1) 100%);
  font-size: 1rem;
  border: solid 0.25rem black;
  transition: 300ms ease-in-out;
}

time {
  inset-inline-end: calc(2*var(--padding));
  inset-block-start: calc(1.35*var(--padding));
  position: absolute;
  font-weight: 900;
  font-size: 1rem;
}

#thursday {
  padding-block-start: calc(2 * var(--padding));
}

#sunday {
  padding-block-end: calc(2 * var(--padding));
}

span {
  font-size: 1rem;
}

.buttons a {
  text-decoration: none;
  color: black;
}

footer a {
  color: black;
}

.headerlinks a{
  color: black;
  font-weight: 900;
  border-block-end: solid 0.25rem black;
  margin-inline: calc(var(--padding) / 2);
  border-radius: 0.2rem;
  transition: 300ms ease-in-out;
}

.headerlinks {
  text-align: center;
  font-size: 1rem;
  transition: 300ms ease-in-out;
}

#thursday, #friday, #saturday, #sunday {
   padding-inline: 25%;
}

@media (max-width: 1300px) {

  #thursday, #friday, #saturday, #sunday {
   padding-inline: var(--padding);
}

}

@media (max-width: 700px) {
html {
  font-size: 90%;
}

}


@media (max-width: 500px) {
html {
  font-size: 80%;
}
}


@media (max-width: 380px) {
html {
  font-size: 60%;
}

.headerlinks a{
  padding-inline: calc(var(--padding) / 8);
}
}


@media (max-width: 240px) {
html {
  font-size: 40%;
}
}