@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url("https://use.typekit.net/ifm1dvz.css");

html {
  font-size: 110%;
  --padding: 1rem;
  --header-offset: 20rem;
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  font-weight: 900;
  color: black;
  font-size: 1.75rem;
   margin-block-end: calc(2 * var(--padding));
}

h2 {
  font-size: 1.75rem;
  line-height: 1.65rem;
  font-family: "bettoni-variable", serif;
  font-variation-settings: "opsz" 0, "wght" 130;
}

.activity h2 {
  margin-block-end: var(--padding);
  /* background-color: green; */
}

.activity p {
  font-size: 1.2rem;
}

.buttons p {
  font-size: 0.9rem;
}

.day h2 {
  font-variation-settings: "opsz" 0, "wght" 400;
   font-style: italic;
}

body {
  padding-block-end: var(--padding);
  padding-block-start: 0;
  margin-block-start: 0;
  background: #e0ebff;
  background: linear-gradient(118deg,rgba(224, 235, 255, 1) 0%, rgba(250, 210, 250, 1) 54%, rgba(220, 189, 255, 1) 100%);
  /* font-family: "SUSE Mono", sans-serif; */
  margin-inline: 0;
  font-weight: 200;
}

#main {
  background: #DDEBFF;
  /* background: linear-gradient(118deg,rgba(224, 235, 255, 1) 0%, rgba(250, 210, 250, 1) 54%, rgba(220, 189, 255, 1) 100%); */
  position: sticky;
  z-index: 13;
  width: 100%;
  padding-block-end: calc(1 * var(--padding));
  padding-block-start: calc(1 * var(--padding));
  border-block-end: solid 0.25rem black;
  inset-block-start: -29.45rem;
}


header img {
  width: 36rem;
}

.fleximg {
  display: flex;
  justify-content: center;
  padding-block-end: calc(1 * var(--padding));
}

.day {
  position: sticky;
  inset-block-start: 4.5rem;
  z-index: 10;
  padding: var(--padding);
  text-align: center;
  border: solid 0.25rem black;
  margin-block-end: calc(1* var(--padding));
  margin-block-start: calc(6 * var(--padding));
  margin-inline: var(--padding);
  border-radius: 1.4rem;
   background: #e0ebff;
background: linear-gradient(118deg,rgba(224, 235, 255, 1) 0%, rgba(250, 210, 250, 1) 54%, rgba(220, 189, 255, 1) 100%);
}

.activity {
  padding-block: var(--padding);
  padding-inline: calc(1.3*var(--padding));
  position: relative;
  margin-block: var(--padding);
  margin-inline: var(--padding);
  border-radius: 1.25rem;
  border: solid 0.25rem black;
}

footer {
  font-family: aldrich, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: fixed;
  inset-block-end: 0rem;
  font-size: 0.75rem;
  background: #e0ebff;
  background: linear-gradient(118deg,rgba(224, 235, 255, 1) 0%, rgba(250, 210, 250, 1) 54%, rgba(220, 189, 255, 1) 100%);
  width: 100%;
  padding: var(--padding);
  height: calc(3*var(--padding));
  border-block-start: solid 0.25rem black;
  z-index: 100;
}

.buttons {
  display: flex;
  gap: var(--padding);
  font-weight: 900;
  margin-block-start: var(--padding);
}

.linkbutton {
  padding: calc(var(--padding) / 2);
  padding-inline: var(--padding);
  border-radius: 1rem;
  font-size: 0.75rem;
  border: solid 0.25rem black;
  transition: 300ms ease-in-out;
  font-weight: 600;
}

.activityheader {
  display: flex;
  justify-content: space-between;
  column-gap: var(--padding);
}

#thursday {
  padding-block-start: calc(1 * var(--padding));
  /* margin-block-start: calc(-3 * var(--padding)); */
}

#sunday {
  padding-block-end: calc(2 * var(--padding));
}

span {
  font-size: 1rem;
}

.buttons a {
  text-decoration: none;
  color: black;
}

footer a {
  color: black;
}

.headerlinks a{
  color: black;
  border-block-end: solid 0.25rem black;
  margin-inline: calc(var(--padding) / 2);
  border-radius: 0.2rem;
  transition: 300ms ease-in-out;
  padding-inline: calc(var(--padding) * 0.5);
  font-size: 1.3rem;
}

.headerlinks {
  text-align: center;
  font-size: 1rem;
  transition: 300ms ease-in-out;
  font-family: "bettoni-variable", serif;
  font-variation-settings: "opsz" 0, "wght" 400;
  font-style: italic;
}

#thursday, #friday, #saturday, #sunday {
   padding-inline: 25vw;
}

p {
  font-family: "brandon-grotesque", sans-serif;
font-weight: 300;
font-style: normal;
}

.toTop{
  position: fixed;
  right: 1.5rem;
  bottom: calc(3 * var(--padding) + 1rem); /* above your fixed footer */
  width: 3rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.25rem black;
  border-radius: 1.25rem;
  background: linear-gradient(118deg,
    rgba(224, 235, 255, 1) 0%,
    rgba(250, 210, 250, 1) 54%,
    rgba(220, 189, 255, 1) 100%);
  z-index: 1000;

  /* hidden by default */
  opacity: 0;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 200ms ease;
}

.toTop.is-visible{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

svg {
  aspect-ratio: 1;
  height: 80%;
}

@media (width > 700px) {
  .linkbutton:hover {
   background: #e0ebff;
   background: linear-gradient(118deg,rgba(224, 235, 255, 1) 0%, rgba(250, 210, 250, 1) 54%, rgba(220, 189, 255, 1) 100%);
  font-size: 1.1rem;
  transition: 300ms ease-in-out;
}

.headerlinks a:hover {
   background: #e0ebff;
   background: linear-gradient(118deg,rgba(224, 235, 255, 1) 0%, rgba(250, 210, 250, 1) 54%, rgba(220, 189, 255, 1) 100%);
  font-size: 1.65rem;
  border: solid 0.25rem black;
  transition: 300ms ease-in-out;
}
}

@media (max-width: 1100px) {

  #thursday, #friday, #saturday, #sunday {
   padding-inline: calc(var(--padding) /2);
}

}

@media (max-width: 700px) {
html {
  font-size: 90%;
}

}


@media (max-width: 500px) {
html {
  font-size: 80%;
}
}


@media (max-width: 450px) {
html {
  font-size: 70%;
}

.headerlinks a{
  padding-inline: calc(var(--padding) / 8);
}

#main {
  inset-block-start: -25.45rem;
}

.day {
  inset-block-start: 8.5rem;
}
}


@media (max-width: 240px) {
html {
  font-size: 40%;
}
}